@{
    ViewBag.Title = "Home Page";
}



<div class="row clearfix">
    @foreach (Event temp in @ViewBag.events)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card btn-primary">
                <img class="card-img-top img-fluid img-thumbnail btn-primary" src="~/Content/Picture/slider3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title btn-primary">@temp.ID</h5>
                    <p class="card-text btn-primary">@temp.Name</p>
                    <h5 class="card-title btn-primary">@temp.Date</h5>
                    <p class="card-text btn-primary">@temp.Description</p>
                </div>

                <div class="card-body btn-primary">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    }
</div>
