

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Event</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="daterangepicker/daterangepicker.css">
    <script src="daterangepicker/moment.js"></script>
    <script src="daterangepicker/daterangepicker.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Контейнер (определяет ширину Navbar) -->
        <div class="container">
            <!-- Заголовок -->
            <div class="navbar-header">
                <!-- Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Бренд или название сайта (отображается в левой части меню) -->
                <a class="navbar-brand" href="~/Home/Index"><img src="~/Content/Picture/logoEVENT.png" width="100" /></a>
            </div>
            <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
            <div class="collapse navbar-collapse" id="navbar-main">
                <!-- Содержимое основной части -->

                <a href='@Url.Action("Index","Home")'><button type="button" class="btn btn-success navbar-btn">ALL</button></a>
                <a href='@Url.Action("Film","Home")'><button type="button" class="btn btn-info navbar-btn">Film</button></a>
                <a href='@Url.Action("Music","Home")'><button type="button" class="btn btn-danger navbar-btn">Music</button></a>
                <a href='@Url.Action("Sports","Home")'><button type="button" class="btn btn-warning navbar-btn">Sports</button></a>
                <a href='@Url.Action("Theatre","Home")'><button type="button" class="btn btn-primary navbar-btn">Theatre</button></a>
                <a href='@Url.Action("Exhibition","Home")'><button type="button" class="btn btn-warning navbar-btn">Exhibition</button></a>
                <a href='@Url.Action("Family","Home")'><button type="button" class="btn btn-danger navbar-btn">Family</button></a>
                <a href='@Url.Action("Party","Home")'><button type="button" class="btn btn-info navbar-btn">Party</button></a>


                <div class="nav navbar-nav navbar-right">

                    @{if (@User.Identity.IsAuthenticated == false)

                        { <a href="~/Account/Login/"><button type="button" class="btn btn-default navbar-btn">Login</button></a>
                        <a href="~/Account/Register/"><button type="button" class="btn btn-info navbar-btn">Register</button></a>
                        }
                        else
                        {
                            @User.Identity.Name
                            <a href="~/Account/Logoff/"><button type="button" class="btn btn-info navbar-btn">Logout</button></a>

                        }
                    }
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron">

                    <div class="card-body zzz"><h3 class="text-center">@ViewBag.Weather</h3></div>
                    <h2 class="card-body zzz">@ViewBag.Time</h2>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>




    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
