@model My3Common.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/EventDetailsForm.css">
    <title>Details Event</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4> Event Details </h4>
        <div class="form-horizontal">



            <div class="form-group">
                <b>@Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>


            <div class="form-group">
                <b>@Html.LabelFor(model => model.Place, "Place", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Place)
                </div>
            </div>

            @{ if (ViewBag.FromAdmin == true)
                {
                    <div class="form-group">
                        <b> @Html.LabelFor(model => model.UserName, "User", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>
                }
            }

            <div class="form-group">
                <b>@Html.LabelFor(model => model.Category, "Category", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Category)
                </div>
            </div>

            <div class="form-group">
                <b>@Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                <div class="col-md-10 name">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>

            <div class="form-group">
               <b> @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                <br />
             
                <div class="col-md-10"><br />
                    <div class="label nav-justified" capture="Description">@Model.Description</div>
                </div>
                <br />

            </div>



                <div class="form-actions no-color">
                    @{if (ViewBag.FromAdmin == true)
                        {
                            <input type="button" value="Back to List" onclick="location.href='@Url.Action("Events", "Admin")'" class="btn btn-default" />
                        }
                        else if (ViewBag.FromUser == true)
                        {
                            <input type="button" value="Back to List" onclick="location.href='@Url.Action("Events", "Account")'" class="btn btn-default" />
                        }
                        else
                        {

                            <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-default" />

                        }
                    }
                </div>
            </div>
                        }

    <p>

    </p>
</body>
</html>
